bodt{

    background-color: LightGrey;
}

.box{
    width:30%;
    background: red;
    padding-bottom: 30%;
    float: left;
    margin: 1em;

}

.container{
    max-width: 600px;
    margin:0 auto;


}

h1{
    color: black
}

span{
    color: black;
}

.stripe{
    background-color: LightGrey;
    hight: 25px;
    text-align: center;
}
